body {
    padding-top: 50px;
}

a {
    color: #008E59;
    text-decoration: none
}

a:hover, a:focus {
    color: #004229;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

#footer {
    margin: 20px 0;
}



.mt-5, .mt--5 {
    margin-top: -5px
}

.mt0, .mt-0 {
    margin-top: 0px
}

.mt4, .mt-4 {
    margin-top: 4px
}

.mt5, .mt-5 {
    margin-top: 5px
}

.mt10, .mt-10 {
    margin-top: 10px
}

.mt15, .mt-15 {
    margin-top: 15px
}

.mt20, .mt-20 {
    margin-top: 20px
}

.mt30, .mt-30 {
    margin-top: 30px
}

.mt40, .mt-40 {
    margin-top: 40px
}

.mb0, .mb-0 {
    margin-bottom: 0px
}

.mb5, .mb-5 {
    margin-bottom: 5px
}

.mb10, .mb-10 {
    margin-bottom: 10px
}

.mb20, .mb-20 {
    margin-bottom: 20px
}

.mb30, .mb-30 {
    margin-bottom: 30px
}

.mb40, .mb-40 {
    margin-bottom: 40px
}

.mb50, .mb-50 {
    margin-bottom: 50px
}

.mr5, .mr-5 {
    margin-right: 5px
}

.mr10, .mr-10 {
    margin-right: 10px
}

.mr20, .mr-20 {
    margin-right: 20px
}

.mr30, .mr-30 {
    margin-right: 30px
}

.ml0, .ml-0 {
    margin-left: 0px
}

.ml5, .ml-5 {
    margin-left: 5px
}

.ml10, .ml-10 {
    margin-left: 10px
}

.ml15, .ml-15 {
    margin-left: 15px
}

.ml20, .ml-20 {
    margin-left: 20px
}

.ml30, .ml-30 {
    margin-left: 30px
}

.pt5, .pt-5 {
    padding-top: 5px
}

.pt10, .pt-10 {
    padding-top: 10px
}

.pt20, .pt-20 {
    padding-top: 20px
}

.pt30, .pt-30 {
    padding-top: 30px
}

.pb0, .pb-0 {
    padding-bottom: 0px
}

.pb10, .pb-10 {
    padding-bottom: 10px
}

.pb20, .pb-20 {
    padding-bottom: 20px
}

.pb300, .pb-300 {
    padding-bottom: 300px
}

.pl0, .pl-0 {
    padding-left: 0px
}

.pl5, .pl-5 {
    padding-left: 5px
}

.pl10, .pl-10 {
    padding-left: 10px
}

.pl15, .pl-15 {
    padding-left: 15px
}

.pl20, .pl-20 {
    padding-left: 20px
}

.pl50, .pl-50 {
    padding-left: 50px
}

.pl300, .pl-300 {
    padding-left: 300px
}

.pr0, .pr-0 {
    padding-right: 0px
}

.pr5, .pr-5 {
    padding-right: 5px
}

.pr10, .pr-10 {
    padding-right: 10px
}

.pr20, .pr-20 {
    padding-right: 20px
}

.pr50, .pr-50 {
    padding-right: 50px
}

.pr300, .pr-300 {
    padding-right: 300px
}

.p0 {
    padding: 0px
}

.p10 {
    padding: 10px
}

.p20 {
    padding: 20px
}

.p50 {
    padding: 50px
}

.p300 {
    padding: 300px
}

.green, .text-green {
    color: #009a61
}

.red, .text-red {
    color: #D0021B
}

.black, .text-black {
    color: #333
}

.black:hover, .text-black:hover {
    color: #333
}

.white, .text-white {
    color: #fff
}

.whitea:hover, .text-whitea:hover {
    color: #eee
}

.bg-gray {
    background-color: #F3F3F3
}

.bg-white {
    background-color: #FFF
}

.bg-green {
    background-color: #009A61
}

.bg-red {
    background-color: #AF3933
}



.widget-user {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0
}

.widget-user.well {
    margin-top: 5px;
    margin-right: 5px;
    background-color: #F6F6F6;
    border-radius: 0;
    width: 170px;
    margin-bottom: 10px
}

.widget-taguser .ellipsis {
    width: auto;
    max-width: 50%;
    display: inline-block;
    vertical-align: top
}

.widget-answer p {
    color: #666
}

.widget-action--ver {
    color: #999
}

.widget-action--ver li {
    margin-top: 12px
}

.widget-action--ver li:first-child {
    margin-top: 0
}

.widget-action--ver button {
    margin-right: 8px;
    min-width: 58px
}

.widget-action--ver strong {
    color: #333
}

.widget-action--ver .no-stress {
    font-weight: normal
}

.widget-share-network {
    margin-top: 10px;
    color: #999;
    font-size: 13px
}


/**************************/

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout code {
    border-radius: 3px
}

.bs-callout + .bs-callout {
    margin-top: -5px
}

.bs-callout-danger {
    border-left-color: #ce4844
}

.bs-callout-danger h4 {
    color: #ce4844
}

.bs-callout-warning {
    border-left-color: #aa6708
}

.bs-callout-warning h4 {
    color: #aa6708
}

.bs-callout-info {
    border-left-color: #1b809e
}

.bs-callout-info h4 {
    color: #1b809e
}

/*头像相关*/

[class*="avatar-"] {
    border-radius: 2px
}

.avatar-16 {
    width: 16px;
    height: 16px
}

.avatar-20 {
    width: 20px;
    height: 20px
}

.avatar-24 {
    width: 24px;
    height: 24px
}

.avatar-32 {
    width: 32px;
    height: 32px
}

.avatar-40 {
    width: 40px;
    height: 40px
}

.avatar-64 {
    width: 64px;
    height: 64px
}

.avatar-128 {
    width: 128px;
    height: 128px
}

.avatar-256 {
    width: 256px;
    height: 256px
}

/*首页开始*/

.stream-list {
    margin-bottom: 10px
}

.stream-list.top-indent {
    margin-top: -10px
}

.stream-list__item {
    margin: 0;
    border-bottom: 1px solid #eee;
    padding: 10px 0
}

.stream-list__item .author {
    margin-bottom: 5px;
    color: #999;
    font-size: 13px
}

.stream-list__item .author a {
    color: #999
}

.stream-list__item .author small {
    color: #ddd
}

.stream-list__item .title {
    display: inline;
    margin: 0 5px 0 0;
    font-size: 16px
}

.stream-list__item .title a {
    color: #333
}

.stream-list__item .title a:hover {
    color: #017e66
}

.stream-list__item .title a:visited {
    font-weight: 400
}

.stream-list__item .small-title {
    margin: 0 0 5px;
    font-size: 16px
}

.stream-list__item .split:before {
    content: "·";
    color: #ddd
}

.stream-list__item .summary {
    overflow: auto;
    overflow-x: hidden
}

.stream-list__item .excerpt {
    margin: 5px 0 0;
    height: 42px;
    color: #777;
    font-size: 13px;
    line-height: 1.6;
    overflow: hidden
}

.qa-rank, .bookmark-rank {
    float: left;
    margin-right: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    color: #666
}

.qa-rank small, .bookmark-rank small {
    display: block;
    font-size: 12px
}

.qa-rank .votes, .bookmark-rank .votes, .qa-rank .answers, .bookmark-rank .answers, .qa-rank .views, .bookmark-rank .views {
    display: inline-block;
    padding-top: 3px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px
}

.qa-rank .answers, .bookmark-rank .answers {
    background-color: #AD3A37;
    color: #fff
}

.qa-rank .answered, .bookmark-rank .answered {
    background-color: #009a61;
    color: #fff
}

.qa-rank .solved, .bookmark-rank .solved {
    background-color: #808B87
}

.qa-rank .views, .bookmark-rank .views {
    width: 50px;
    color: #999
}

.qa-rank .plus, .bookmark-rank .plus {
    color: #009a61
}

.qa-rank .minus, .bookmark-rank .minus {
    color: #AD3A37
}

.tag {
    display: inline-block;
    padding: 0 8px;
    color: #017e66;
    background-color: #E7F2ED;
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    font-size: 13px;
    text-align: center
}

.tag[href]:hover, .tag[href]:focus {
    background-color: #017e66;
    color: #fff;
    text-decoration: none
}

.tag-sm {
    padding: 0 4px;
    height: 18px;
    line-height: 18px;
    font-size: 12px
}

.tag-lg {
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 28px
}

.tag-link {
    background-color: transparent
}

.tag-img {
    padding-left: 26px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px
}

.taglist--inline, .taglist--block {
    list-style: none;
    padding: 0;
    font-size: 0
}

.taglist--inline li, .taglist--block li {
    padding: 0;
    font-size: 13px
}

.ib.taglist--inline, .ib.taglist--block {
    margin: 0;
    display: inline-block
}

.taglist--inline > li {
    display: inline-block;
    margin-right: 5px
}

.taglist--inline > li:last-child {
    margin-right: 0
}

.taglist--inline.multi > li {
    margin-bottom: 5px
}

.taglist--block > li {
    margin-bottom: 8px
}

.widget-tags {
    font-size: 0
}

.nav-tabs {
    border-bottom: 1px solid #ddd
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default
}

.nav-pills > li {
    float: left
}

.nav-pills > li > a {
    border-radius: 3px
}

.nav-pills > li + li {
    margin-left: 2px
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #008E59
}

.nav-stacked > li {
    float: none
}

.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0
}

.nav-justified, .nav-tabs.nav-justified {
    width: 100%
}

.nav-justified > li, .nav-tabs.nav-justified > li {
    float: none
}

.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px
}

.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto
}

/*首页结束*/

/*问题显示页面开始*/

.post-topheader {
    padding: 15px 0;
    background: rgb(214, 81, 0)
}

.post-topheader .breadcrumb {
    margin: 0 0 10px;
    padding: 0;
    background-color: transparent
}

.post-topheader .title {
    font-size: 28px;
    font-weight: bold;
    margin: 0
}

.post-topheader .title a, .post-topheader .title a:hover, .post-topheader .title a:active {
    color: #333;
    text-decoration: none
}

.post-topheader .author {
    margin-top: 10px;
    color: #999;
}

.post-topheader .widget-action--ver {
    margin-top: 10px
}

/*问题显示页面结束*/
