
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, STHeiti, "Microsoft Yahei", "SimSun", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    padding-top: 60px;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #008E59;
    text-decoration: none
}

a:hover, a:focus {
    color: #004229;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit
}

h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small, .h1 small, .h1 .small, .h2 small, .h2 .small, .h3 small, .h3 .small, .h4 small, .h4 .small, .h5 small, .h5 .small, .h6 small, .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #777
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 21px;
    margin-bottom: 10.5px
}

h1 small, h1 .small, .h1 small, .h1 .small, h2 small, h2 .small, .h2 small, .h2 .small, h3 small, h3 .small, .h3 small, .h3 .small {
    font-size: 65%
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10.5px;
    margin-bottom: 10.5px
}

h4 small, h4 .small, .h4 small, .h4 .small, h5 small, h5 .small, .h5 small, .h5 .small, h6 small, h6 .small, .h6 small, .h6 .small {
    font-size: 75%
}

h1, .h1 {
    font-size: 36px
}

h2, .h2 {
    font-size: 30px
}

h3, .h3 {
    font-size: 24px
}

h4, .h4 {
    font-size: 18px
}

h5, .h5 {
    font-size: 14px
}

h6, .h6 {
    font-size: 12px
}

p {
    margin: 0 0 10.5px
}

#footer {
    margin: 20px 0;
}

.mt-5, .mt--5 {
    margin-top: -5px
}

.mt0, .mt-0 {
    margin-top: 0px
}

.mt4, .mt-4 {
    margin-top: 4px
}

.mt5, .mt-5 {
    margin-top: 5px
}

.mt10, .mt-10 {
    margin-top: 10px
}

.mt15, .mt-15 {
    margin-top: 15px
}

.mt20, .mt-20 {
    margin-top: 20px
}

.mt30, .mt-30 {
    margin-top: 30px
}

.mt40, .mt-40 {
    margin-top: 40px
}

.mb0, .mb-0 {
    margin-bottom: 0px
}

.mb5, .mb-5 {
    margin-bottom: 5px
}

.mb10, .mb-10 {
    margin-bottom: 10px
}

.mb20, .mb-20 {
    margin-bottom: 20px
}

.mb30, .mb-30 {
    margin-bottom: 30px
}

.mb40, .mb-40 {
    margin-bottom: 40px
}

.mb50, .mb-50 {
    margin-bottom: 50px
}

.mr5, .mr-5 {
    margin-right: 5px
}

.mr10, .mr-10 {
    margin-right: 10px
}

.mr20, .mr-20 {
    margin-right: 20px
}

.mr30, .mr-30 {
    margin-right: 30px
}

.ml0, .ml-0 {
    margin-left: 0px
}

.ml5, .ml-5 {
    margin-left: 5px
}

.ml10, .ml-10 {
    margin-left: 10px
}

.ml15, .ml-15 {
    margin-left: 15px
}

.ml20, .ml-20 {
    margin-left: 20px
}

.ml30, .ml-30 {
    margin-left: 30px
}

.pt5, .pt-5 {
    padding-top: 5px
}

.pt10, .pt-10 {
    padding-top: 10px
}

.pt20, .pt-20 {
    padding-top: 20px
}

.pt30, .pt-30 {
    padding-top: 30px
}

.pb0, .pb-0 {
    padding-bottom: 0px
}

.pb10, .pb-10 {
    padding-bottom: 10px
}

.pb20, .pb-20 {
    padding-bottom: 20px
}

.pb300, .pb-300 {
    padding-bottom: 300px
}

.pl0, .pl-0 {
    padding-left: 0px
}

.pl5, .pl-5 {
    padding-left: 5px
}

.pl10, .pl-10 {
    padding-left: 10px
}

.pl15, .pl-15 {
    padding-left: 15px
}

.pl20, .pl-20 {
    padding-left: 20px
}

.pl50, .pl-50 {
    padding-left: 50px
}

.pl300, .pl-300 {
    padding-left: 300px
}

.pr0, .pr-0 {
    padding-right: 0px
}

.pr5, .pr-5 {
    padding-right: 5px
}

.pr10, .pr-10 {
    padding-right: 10px
}

.pr20, .pr-20 {
    padding-right: 20px
}

.pr50, .pr-50 {
    padding-right: 50px
}

.pr300, .pr-300 {
    padding-right: 300px
}

.p0 {
    padding: 0px
}

.p10 {
    padding: 10px
}

.p20 {
    padding: 20px
}

.p50 {
    padding: 50px
}

.p300 {
    padding: 300px
}

.green, .text-green {
    color: #009a61
}

.red, .text-red {
    color: #D0021B
}

.black, .text-black {
    color: #333
}

.black:hover, .text-black:hover {
    color: #333
}

.white, .text-white {
    color: #fff
}

.whitea:hover, .text-whitea:hover {
    color: #eee
}

.bg-gray {
    background-color: #F3F3F3
}

.bg-white {
    background-color: #FFF
}

.bg-green {
    background-color: #009A61
}

.bg-red {
    background-color: #AF3933
}

.widget-user {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0
}

.widget-user.well {
    margin-top: 5px;
    margin-right: 5px;
    background-color: #F6F6F6;
    border-radius: 0;
    width: 170px;
    margin-bottom: 10px
}

.widget-taguser .ellipsis {
    width: auto;
    max-width: 50%;
    display: inline-block;
    vertical-align: top
}

.widget-answer p {
    color: #666
}

.widget-action--ver {
    color: #999
}

.widget-action--ver li {
    margin-top: 12px
}

.widget-action--ver li:first-child {
    margin-top: 0
}

.widget-action--ver button {
    margin-right: 8px;
    min-width: 58px
}

.widget-action--ver strong {
    color: #333
}

.widget-action--ver .no-stress {
    font-weight: normal
}

.widget-share-network {
    margin-top: 10px;
    color: #999;
    font-size: 13px
}

/**************************/

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout code {
    border-radius: 3px
}

.bs-callout + .bs-callout {
    margin-top: -5px
}

.bs-callout-danger {
    border-left-color: #ce4844
}

.bs-callout-danger h4 {
    color: #ce4844
}

.bs-callout-warning {
    border-left-color: #aa6708
}

.bs-callout-warning h4 {
    color: #aa6708
}

.bs-callout-info {
    border-left-color: #1b809e
}

.bs-callout-info h4 {
    color: #1b809e
}

/*头像相关*/

[class*="avatar-"] {
    border-radius: 2px
}

.avatar-16 {
    width: 16px;
    height: 16px
}

.avatar-20 {
    width: 20px;
    height: 20px
}

.avatar-24 {
    width: 24px;
    height: 24px
}

.avatar-32 {
    width: 32px;
    height: 32px
}

.avatar-40 {
    width: 40px;
    height: 40px
}

.avatar-64 {
    width: 64px;
    height: 64px
}

.avatar-128 {
    width: 128px;
    height: 128px
}

.avatar-256 {
    width: 256px;
    height: 256px
}

/*首页开始*/

.stream-list {
    margin-bottom: 10px
}

.stream-list.top-indent {
    margin-top: -10px
}

.stream-list__item {
    margin: 0;
    border-bottom: 1px solid #eee;
    padding: 10px 0
}

.stream-list__item .author {
    margin-bottom: 5px;
    color: #999;
    font-size: 13px
}

.stream-list__item .author a {
    color: #999
}

.stream-list__item .author small {
    color: #ddd
}

.stream-list__item .title {
    display: inline;
    margin: 0 5px 0 0;
    font-size: 16px
}

.stream-list__item .title a {
    color: #333
}

.stream-list__item .title a:hover {
    color: #017e66
}

.stream-list__item .title a:visited {
    font-weight: 400
}

.stream-list__item .small-title {
    margin: 0 0 5px;
    font-size: 16px
}

.stream-list__item .split:before {
    content: "·";
    color: #ddd
}

.stream-list__item .summary {
    overflow: auto;
    overflow-x: hidden
}

.stream-list__item .excerpt {
    margin: 5px 0 0;
    height: 42px;
    color: #777;
    font-size: 13px;
    line-height: 1.6;
    overflow: hidden
}

.qa-rank, .bookmark-rank {
    float: left;
    margin-right: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    color: #666
}

.qa-rank small, .bookmark-rank small {
    display: block;
    font-size: 12px
}

.qa-rank .votes, .bookmark-rank .votes, .qa-rank .answers, .bookmark-rank .answers, .qa-rank .views, .bookmark-rank .views {
    display: inline-block;
    padding-top: 3px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px
}

.qa-rank .answers, .bookmark-rank .answers {
    background-color: #AD3A37;
    color: #fff
}

.qa-rank .answered, .bookmark-rank .answered {
    background-color: #009a61;
    color: #fff
}

.qa-rank .solved, .bookmark-rank .solved {
    background-color: #808B87
}

.qa-rank .views, .bookmark-rank .views {
    width: 50px;
    color: #999
}

.qa-rank .plus, .bookmark-rank .plus {
    color: #009a61
}

.qa-rank .minus, .bookmark-rank .minus {
    color: #AD3A37
}

.tag {
    display: inline-block;
    padding: 0 8px;
    color: #017e66;
    background-color: #E7F2ED;
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    font-size: 13px;
    text-align: center
}

.tag[href]:hover, .tag[href]:focus {
    background-color: #017e66;
    color: #fff;
    text-decoration: none
}

.tag-sm {
    padding: 0 4px;
    height: 18px;
    line-height: 18px;
    font-size: 12px
}

.tag-lg {
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 28px
}

.tag-link {
    background-color: transparent
}

.tag-img {
    padding-left: 26px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px
}

.taglist--inline, .taglist--block {
    list-style: none;
    padding: 0;
    font-size: 0
}

.taglist--inline li, .taglist--block li {
    padding: 0;
    font-size: 13px
}

.ib.taglist--inline, .ib.taglist--block {
    margin: 0;
    display: inline-block
}

.taglist--inline > li {
    display: inline-block;
    margin-right: 5px
}

.taglist--inline > li:last-child {
    margin-right: 0
}

.taglist--inline.multi > li {
    margin-bottom: 5px
}

.taglist--block > li {
    margin-bottom: 8px
}

.widget-tags {
    font-size: 0
}

.nav-tabs {
    border-bottom: 1px solid #ddd
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default
}

.nav-pills > li {
    float: left
}

.nav-pills > li > a {
    border-radius: 3px
}

.nav-pills > li + li {
    margin-left: 2px
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #008E59
}

.nav-stacked > li {
    float: none
}

.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0
}

.nav-justified, .nav-tabs.nav-justified {
    width: 100%
}

.nav-justified > li, .nav-tabs.nav-justified > li {
    float: none
}

.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px
}

.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto
}

/*首页结束*/

/*问题显示页面开始*/

.widget-comments {
    list-style: none;
    margin: 0 0 15px;
    font-size: 13px;
    color: #666;
    padding: 10px;
    background-color: #F6F6F6;
    border-radius: 2px
}

.widget-comments .widget-comments__item {
    margin-bottom: 10px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAEUlEQVQIHWO4e/fufxBmgAIAWVEHLYEgi9EAAAAASUVORK5CYII=) repeat-x bottom;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s
}

.widget-comments .widget-comments__item .editTextarea {
    resize: none;
    min-height: 56px
}

.widget-comments .widget-comments__form textarea {
    min-height: 56px !important;
    resize: none
}

.widget-comments .votes {
    position: relative;
    text-align: center;
    float: left;
    margin: 5px 10px 0 0;
    width: 20px;
    height: 30px;
    line-height: 40px;
    font-size: 12px;
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.widget-comments .votes:hover {
    background-color: transparent
}

.widget-comments .votes button {
    position: absolute;
    left: 0;
    top: 0;
    outline: none;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent url(../img/vote-bg@2x.png) -120px 0 no-repeat;
    -moz-background-size: auto 54px;
    -o-background-size: auto 54px;
    -webkit-background-size: auto 54px;
    background-size: auto 54px
}

.widget-comments .votes .like:hover {
    background-position: -140px 0
}

.widget-comments .votes .like.active {
    background-position: -160px 0
}

.widget-comments .comment-content {
    overflow: auto
}

.widget-comments .comment-meta {
    color: #999
}

.widget-comments .comment-warning {
    background-color: #fcf8e3
}

.widget-comments .col-sm-10 {
    padding-right: 0
}

.widget-comments .fmt {
    font-size: 13px
}

.widget-comments .fmt h1, .widget-comments .fmt h2, .widget-comments .fmt h3, .widget-comments .fmt h4, .widget-comments .fmt p, .widget-comments .fmt ul, .widget-comments .fmt ol, .widget-comments .fmt pre, .widget-comments .fmt blockquote, .widget-comments .fmt table {
    margin: 10px 0
}

.widget-comments .fmt > h1:first-child, .widget-comments .fmt h2:first-child, .widget-comments .fmt h3:first-child, .widget-comments .fmt h4:first-child, .widget-comments .fmt p:first-child, .widget-comments .fmt ul:first-child, .widget-comments .fmt ol:first-child, .widget-comments .fmt pre:first-child, .widget-comments .fmt blockquote:first-child, .widget-comments .fmt table:first-child {
    margin-top: 0
}

.post-title {
    padding-bottom: 15px;
    border-bottom: 2px solid #ccc
}

.post-topheader {
    margin-top: -10px;
    padding: 15px 0;
    background: #f6f6f6
}

.post-topheader .breadcrumb {
    margin: 0 0 10px;
    padding: 0;
    background-color: transparent
}

.post-topheader .title {
    font-size: 28px;
    font-weight: bold;
    margin: 5px 0;
}

.post-topheader .title a, .post-topheader .title a:hover, .post-topheader .title a:active {
    color: #333;
    text-decoration: none
}

.post-topheader .author {
    margin-top: 10px;
    color: #999;
}

.post-topheader .widget-action--ver {
    margin-top: 10px
}

.qa-question .wmd {
    min-height: 210px
}

.qa-question .wmd .wmd-input {
    min-height: 210px
}

.main-title {
    /*margin: 30px 0 25px;*/
    font-size: 18px;
    vertical-align: middle
}

.qa-question .widget-comments {
    margin-top: 10px
}

.edit-btn {
    color: #999
}

.post-col {
    float: left;
    width: 36px;
    position: relative
}

.post-col .unlike-alert {
    position: absolute;
    z-index: 100;
    top: 60px
}

.post-col .unlike-alert .close {
    right: auto
}

.widget-question__item .unlike-alert {
    width: 390px
}

.widget-answers__item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd
}

.widget-answers__item .post-offset {
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease
}

.widget-answers__item .highlight {
    background: #FFF9EB
}

.widget-answers__item .unlike-alert {
    width: 380px
}

.widget-invite {
    background-color: #f6f6f6;
    border: 1px dashed #CCC;
    padding: 15px;
    padding-bottom: 5px;
    overflow: hidden
}

.widget-invite-list {
    border-top: 1px dashed #CCC;
    padding-top: 15px
}

.widget-invite-list img {
    margin-right: 10px
}

.widget-vote {
    position: relative;
    width: 36px;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    background: #f3f3f3;
    color: #666;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}

.widget-vote:hover {
    background-color: #fff7e2
}

.widget-vote button {
    position: absolute;
    left: 0;
    padding: 0;
    border: none;
    outline: none;
    width: 100%;
    background: transparent url(../img/vote-bg@2x.png) 0 0 no-repeat;
    -moz-background-size: auto 54px;
    -o-background-size: auto 54px;
    -webkit-background-size: auto 54px;
    background-size: auto 54px
}

.widget-vote .like {
    top: 0;
    height: 36px
}

.widget-vote .like:hover {
    background-position: -36px 0
}

.widget-vote .like.active {
    background-position: -72px 0
}

.widget-vote .hate {
    bottom: 0;
    height: 18px;
    background-position: 0 bottom
}

.widget-vote .hate:hover {
    background-position: -36px bottom
}

.widget-vote .hate.active {
    background-position: -72px bottom
}

.post-offset {
    margin-left: 50px
}

.post-offset .avatar-24 {
    float: right
}

.post-opt {
    font-size: 13px
}

.post-opt a {
    color: #999
}

.qa-question .editor {
    min-height: 88px
}

.qa-question .editor .form-control {
    border: none
}

.qa-question .editor .editor__menu--live {
    display: none
}

.qa-question .editor .editor-line {
    display: none
}

.qa-question .editor_fullscreen .editor-line {
    display: block
}

.ignored {
    display: none
}

.qa-answer .ignored {
    display: block
}

#answerNotify {
    padding: 12px
}

h1 .dropdown {
    font-size: 14px;
    font-weight: normal
}

#answer .question-view .panel-body {
    max-height: 360px;
    overflow-y: scroll
}

.accepted-flag {
    position: relative;
    margin: 10px 0 0;
    background-color: #009a61;
    width: 100%;
    height: 25px;
    line-height: 35px;
    font-size: 13px;
    text-align: center;
    color: #FFF;
    z-index: 1;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px 0 0
}

.accepted-flag:after {
    position: absolute;
    left: 0;
    top: 25px;
    content: '';
    border-width: 9px 18px;
    border-style: solid;
    border-color: #009a61 #009a61 transparent #009a61
}

.sitelist > thead > tr > th {
    border-bottom: 1px solid #ddd
}

.sitelist > tbody > tr > td {
    border-bottom: 1px solid #eee;
    vertical-align: middle
}

.sitelist .site-name, .sitelist .site-mod, .sitelist .site-latest {
    padding: 15px 10px
}

.sitelist .site-name {
    padding-left: 0;
    width: 50%
}

.sitelist .site-mod {
    width: 20%
}

.sitelist .site-latest {
    padding-right: 0;
    width: 30%
}

.sitelist .site-latest a {
    display: block;
    max-width: 290px
}

.sitelist .site-latest small {
    color: #999;
    font-size: 13px
}

.sitelist .site-name > .pull-left {
    margin-right: 15px
}

.sitelist .media-heading {
    font-size: 16px
}

.sitelist .media-body p {
    margin: 0
}

.site-topheader {
    padding: 25px 0;
    background: #f3f3f3
}

.site-topheader .breadcrumb {
    margin: 0 0 10px;
    padding: 0;
    background-color: transparent
}

.site-topheader .media > .pull-left {
    margin-right: 20px
}

.site-topheader .media-object {
    border: 4px solid #fff;
    width: 80px;
    height: 80px;
    background-color: #fff
}

.site-topheader .media-heading {
    margin-bottom: 10px
}

.site-topheader .media-heading a, .site-topheader .media-heading a:hover, .site-topheader .media-heading a:active {
    color: #333;
    text-decoration: none
}

.site-topheader .description {
    position: relative;
    color: #666
}

.site-topheader .description p:last-child, .site-topheader .description ul:last-child, .site-topheader .description ol:last-child {
    margin-bottom: 0
}

.site-topheader .description .list-inline li {
    padding-right: 0
}

.site-topheader .description .list-inline li:after {
    margin-left: 5px;
    content: " •";
    color: #ccc
}

.site-topheader .description .list-inline li:last-child:after {
    content: none
}

.site-blog-widget {
    padding: 12px;
    background: #f6f6f6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.site-blog-widget .title {
    margin-top: 0;
    font-size: 16px;
    color: #D0021B
}

.site-blog-widget ul {
    margin: 0
}

.site-blog-widget li {
    margin-top: 10px
}

.site-blog-widget small {
    display: block;
    color: #999;
    font-size: 13px
}

.revision-item {
    display: none
}

.revision-item.active {
    display: block
}

.revision-content {
    margin: 10px;
    padding: 30px;
    border: 1px solid #ddd;
    background-color: #fff
}

.revision-content .title {
    margin: 0 0 25px;
    padding: 10px;
    background: #f3f3f3
}

/*问题显示页面结束*/


.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

.form-control::-moz-placeholder {
    color: #777;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #777
}

.form-control::-webkit-input-placeholder {
    color: #777
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1
}

textarea.form-control {
    height: auto
}

input[type="search"] {
    -webkit-appearance: none
}

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    line-height: 35px;
    line-height: 1.5 \0
}

input[type="date"].input-sm, .form-horizontal .form-group-sm input[type="date"].form-control, .input-group-sm > input[type="date"].form-control, .input-group-sm > input[type="date"].input-group-addon, .input-group-sm > .input-group-btn > input[type="date"].btn, input[type="time"].input-sm, .form-horizontal .form-group-sm input[type="time"].form-control, .input-group-sm > input[type="time"].form-control, .input-group-sm > input[type="time"].input-group-addon, .input-group-sm > .input-group-btn > input[type="time"].btn, input[type="datetime-local"].input-sm, .form-horizontal .form-group-sm input[type="datetime-local"].form-control, .input-group-sm > input[type="datetime-local"].form-control, .input-group-sm > input[type="datetime-local"].input-group-addon, .input-group-sm > .input-group-btn > input[type="datetime-local"].btn, input[type="month"].input-sm, .form-horizontal .form-group-sm input[type="month"].form-control, .input-group-sm > input[type="month"].form-control, .input-group-sm > input[type="month"].input-group-addon, .input-group-sm > .input-group-btn > input[type="month"].btn {
    line-height: 30px
}

input[type="date"].input-lg, .form-horizontal .form-group-lg input[type="date"].form-control, .input-group-lg > input[type="date"].form-control, .input-group-lg > input[type="date"].input-group-addon, .input-group-lg > .input-group-btn > input[type="date"].btn, input[type="time"].input-lg, .form-horizontal .form-group-lg input[type="time"].form-control, .input-group-lg > input[type="time"].form-control, .input-group-lg > input[type="time"].input-group-addon, .input-group-lg > .input-group-btn > input[type="time"].btn, input[type="datetime-local"].input-lg, .form-horizontal .form-group-lg input[type="datetime-local"].form-control, .input-group-lg > input[type="datetime-local"].form-control, .input-group-lg > input[type="datetime-local"].input-group-addon, .input-group-lg > .input-group-btn > input[type="datetime-local"].btn, input[type="month"].input-lg, .form-horizontal .form-group-lg input[type="month"].form-control, .input-group-lg > input[type="month"].form-control, .input-group-lg > input[type="month"].input-group-addon, .input-group-lg > .input-group-btn > input[type="month"].btn {
    line-height: 46px
}

.form-group {
    margin-bottom: 15px
}

/*顶部菜单开始*/

#global-nav {
    background: #1B805E
}

#global-nav .logo {
    float: left;
    margin: 0;
    display: inline-block
}

#global-nav .logo a {
    text-decoration: none;
    float: left
}

#global-nav .navbar-brand{
    color: #FFF;
}

.navbar-default .navbar-nav > li > a{
    color: #FFF;
}

/*顶部菜单结束*/