
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, STHeiti, "Microsoft Yahei", "SimSun", sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    padding-top: 60px;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a {
    color: #008E59;
    text-decoration: none
}

a:hover, a:focus {
    color: #004229;
    text-decoration: underline
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: inherit
}

h1 small, h1 .small, h2 small, h2 .small, h3 small, h3 .small, h4 small, h4 .small, h5 small, h5 .small, h6 small, h6 .small, .h1 small, .h1 .small, .h2 small, .h2 .small, .h3 small, .h3 .small, .h4 small, .h4 .small, .h5 small, .h5 .small, .h6 small, .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #777
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 21px;
    margin-bottom: 10.5px
}

h1 small, h1 .small, .h1 small, .h1 .small, h2 small, h2 .small, .h2 small, .h2 .small, h3 small, h3 .small, .h3 small, .h3 .small {
    font-size: 65%
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10.5px;
    margin-bottom: 10.5px
}

h4 small, h4 .small, .h4 small, .h4 .small, h5 small, h5 .small, .h5 small, .h5 .small, h6 small, h6 .small, .h6 small, .h6 .small {
    font-size: 75%
}

h1, .h1 {
    font-size: 36px
}

h2, .h2 {
    font-size: 30px
}

h3, .h3 {
    font-size: 24px
}

h4, .h4 {
    font-size: 18px
}

h5, .h5 {
    font-size: 14px
}

h6, .h6 {
    font-size: 12px
}

p {
    margin: 0 0 10.5px
}

#footer {
    margin: 20px 0;
}

.mt-5, .mt--5 {
    margin-top: -5px
}

.mt0, .mt-0 {
    margin-top: 0px
}

.mt4, .mt-4 {
    margin-top: 4px
}

.mt5, .mt-5 {
    margin-top: 5px
}

.mt10, .mt-10 {
    margin-top: 10px
}

.mt15, .mt-15 {
    margin-top: 15px
}

.mt20, .mt-20 {
    margin-top: 20px
}

.mt30, .mt-30 {
    margin-top: 30px
}

.mt40, .mt-40 {
    margin-top: 40px
}

.mb0, .mb-0 {
    margin-bottom: 0px
}

.mb5, .mb-5 {
    margin-bottom: 5px
}

.mb10, .mb-10 {
    margin-bottom: 10px
}

.mb20, .mb-20 {
    margin-bottom: 20px
}

.mb30, .mb-30 {
    margin-bottom: 30px
}

.mb40, .mb-40 {
    margin-bottom: 40px
}

.mb50, .mb-50 {
    margin-bottom: 50px
}

.mr5, .mr-5 {
    margin-right: 5px
}

.mr10, .mr-10 {
    margin-right: 10px
}

.mr20, .mr-20 {
    margin-right: 20px
}

.mr30, .mr-30 {
    margin-right: 30px
}

.ml0, .ml-0 {
    margin-left: 0px
}

.ml5, .ml-5 {
    margin-left: 5px
}

.ml10, .ml-10 {
    margin-left: 10px
}

.ml15, .ml-15 {
    margin-left: 15px
}

.ml20, .ml-20 {
    margin-left: 20px
}

.ml25, .ml-25 {
    margin-left: 25px
}

.ml30, .ml-30 {
    margin-left: 30px
}

.pt5, .pt-5 {
    padding-top: 5px
}

.pt10, .pt-10 {
    padding-top: 10px
}

.pt20, .pt-20 {
    padding-top: 20px
}

.pt30, .pt-30 {
    padding-top: 30px
}

.pb0, .pb-0 {
    padding-bottom: 0px
}

.pb10, .pb-10 {
    padding-bottom: 10px
}

.pb20, .pb-20 {
    padding-bottom: 20px
}

.pb300, .pb-300 {
    padding-bottom: 300px
}

.pl0, .pl-0 {
    padding-left: 0px
}

.pl5, .pl-5 {
    padding-left: 5px
}

.pl10, .pl-10 {
    padding-left: 10px
}

.pl15, .pl-15 {
    padding-left: 15px
}

.pl20, .pl-20 {
    padding-left: 20px
}

.pl50, .pl-50 {
    padding-left: 50px
}

.pl300, .pl-300 {
    padding-left: 300px
}

.pr0, .pr-0 {
    padding-right: 0px
}

.pr5, .pr-5 {
    padding-right: 5px
}

.pr10, .pr-10 {
    padding-right: 10px
}

.pr20, .pr-20 {
    padding-right: 20px
}

.pr50, .pr-50 {
    padding-right: 50px
}

.pr300, .pr-300 {
    padding-right: 300px
}

.p0 {
    padding: 0px
}

.p10 {
    padding: 10px
}

.p20 {
    padding: 20px
}

.p50 {
    padding: 50px
}

.p300 {
    padding: 300px
}

.green, .text-green {
    color: #009a61
}

.red, .text-red {
    color: #D0021B
}

.black, .text-black {
    color: #333
}

.black:hover, .text-black:hover {
    color: #333
}

.white, .text-white {
    color: #fff
}

.whitea:hover, .text-whitea:hover {
    color: #eee
}

.bg-gray {
    background-color: #F3F3F3
}

.bg-white {
    background-color: #FFF
}

.bg-green {
    background-color: #009A61
}

.bg-red {
    background-color: #AF3933
}

.clearfix:before, .fmt:before, .clearfix:after, .fmt:after {
    content: " ";
    display: table
}

.clearfix:after, .fmt:after {
    clear: both
}

.widget-user {
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0
}

.widget-user.well {
    margin-top: 5px;
    margin-right: 5px;
    background-color: #F6F6F6;
    border-radius: 0;
    width: 170px;
    margin-bottom: 10px
}

.widget-taguser .ellipsis {
    width: auto;
    max-width: 50%;
    display: inline-block;
    vertical-align: top
}

.widget-answer p {
    color: #666
}

.widget-action--ver {
    color: #999
}

.widget-action--ver li {
    margin-top: 12px
}

.widget-action--ver li:first-child {
    margin-top: 0
}

.widget-action--ver button, .widget-action--ver a {
    margin-right: 8px;
    min-width: 58px
}

.widget-action--ver strong {
    color: #333
}

.widget-action--ver .no-stress {
    font-weight: normal
}

.widget-share-network {
    margin-top: 10px;
    color: #999;
    font-size: 13px
}

.widget-codetool {
    float: right;
    opacity: 0.99;
    margin-top: -25px
}

.widget-codetool:first-child {
    margin-top: -6px
}

.widget-codetool button {
    margin-left: 5px;
    color: #fff;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.75)
}

.widget-codetool button:hover, .widget-codetool button:focus {
    color: #fff;
    background-color: #000
}

.widget-saveToNote {
    position: absolute;
    color: #FFF;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.75)
}

.widget-saveToNote:hover {
    background-color: #000
}

.widget-active section {
    padding: 10px 0;
    border-top: 1px solid #EEE
}

.widget-active--left {
    float: left;
    color: #CCC;
    font-size: 16px
}

.widget-active--right {
    margin-left: 30px
}

.widget-active--right .wordbreak {
    color: #888
}

.widget-active--right__info {
    color: #999;
    margin-bottom: 5px
}

.widget-active--right__info small {
    color: #CCC
}

.widget-active--right__info .badge {
    background-color: #FFF;
    border: 1px solid
}

.widget-active--right__title h4 {
    display: inline;
    margin: 0 5px 0 0;
    font-size: 15px
}

.widget-active--right__title h4 a {
    color: #333
}

.widget-active--right__title h4 a:hover {
    color: #017e66
}

.widget-active--right__quote {
    border-left: 5px solid #EEE;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #888;
    word-break: break-all
}

.widget-badge {
    color: #666;
    margin-top: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 5px;
    background-color: #F6F6F6
}

.hover-show-obj {
    visibility: hidden;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}

.hover-show:hover .hover-show-obj {
    visibility: visible
}

/**************************/

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout code {
    border-radius: 3px
}

.bs-callout + .bs-callout {
    margin-top: -5px
}

.bs-callout-danger {
    border-left-color: #ce4844
}

.bs-callout-danger h4 {
    color: #ce4844
}

.bs-callout-warning {
    border-left-color: #aa6708
}

.bs-callout-warning h4 {
    color: #aa6708
}

.bs-callout-info {
    border-left-color: #1b809e
}

.bs-callout-info h4 {
    color: #1b809e
}

/*头像相关*/

[class*=avatar-] {
    border-radius: 2px
}

.avatar-16 {
    border-radius: 50%
}

.avatar-16, .avatar-square-16 {
    width: 16px;
    height: 16px
}

.avatar-20 {
    border-radius: 50%
}

.avatar-20, .avatar-square-20 {
    width: 20px;
    height: 20px
}

.avatar-24 {
    border-radius: 50%
}

.avatar-24, .avatar-square-24 {
    width: 24px;
    height: 24px
}

.avatar-32 {
    border-radius: 50%
}

.avatar-32, .avatar-square-32 {
    width: 32px;
    height: 32px
}

.avatar-40 {
    border-radius: 50%
}

.avatar-40, .avatar-square-40 {
    width: 40px;
    height: 40px
}

.avatar-64 {
    border-radius: 50%
}

.avatar-64, .avatar-square-64 {
    width: 64px;
    height: 64px
}

.avatar-128 {
    border-radius: 50%
}

.avatar-128, .avatar-square-128 {
    width: 128px;
    height: 128px
}

.avatar-256 {
    border-radius: 50%
}

.avatar-256, .avatar-square-256 {
    width: 256px;
    height: 256px
}

.tag-popup {
    width: 276px
}

.tag-popup .popover-title {
    background-color: #fff;
    padding-bottom: 0;
    border-bottom: none;
    font-weight: 700
}

.tag-popup .popover-content {
    font-size: 13px;
    color: #666;
    width: 272px;
    min-height: 50px
}

.tag-popup .popover-content p {
    max-height: 60px;
    overflow: hidden
}

.tag-popup .operation {
    margin-top: 10px;
    padding: 10px 0 0;
    font-size: 13px;
    line-height: 22px;
    border-top: 1px solid #eee
}

.tag-popup .operation .followers {
    margin-right: 5px;
    vertical-align: middle
}

.tag-popup .popover-footer {
    margin: 0 14px;
    padding: 10px 0;
    font-size: 13px;
    line-height: 22px;
    border-top: 1px solid #eee
}

.tag-popup .popover-footer .followers {
    margin-right: 5px;
    vertical-align: middle
}

.border-top {
    border-top: 1px solid #ddd
}

.border-right {
    border-right: 1px solid #ddd
}

.border-left {
    border-left: 1px solid #ddd
}

.border-bottom {
    border-bottom: 1px solid #ddd
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none
}

.btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
    background-image: none
}

.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc
}

.btn-default .badge {
    color: #fff;
    background-color: #333
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    color: #fff;
    background-color: #008E59;
    border-color: #007549
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #005b39;
    border-color: #003723
}

.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
    background-image: none
}

.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #008E59;
    border-color: #007549
}

.btn-primary .badge {
    color: #008E59;
    background-color: #fff
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    border-color: #398439
}

.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle {
    background-image: none
}

.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc
}

.btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
    background-image: none
}

.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    background-color: #5bc0de;
    border-color: #46b8da
}

.btn-info .badge {
    color: #5bc0de;
    background-color: #fff
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512
}

.btn-warning:active, .btn-warning.active, .open > .btn-warning.dropdown-toggle {
    background-image: none
}

.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
    background-color: #f0ad4e;
    border-color: #eea236
}

.btn-warning .badge {
    color: #f0ad4e;
    background-color: #fff
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925
}

.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle {
    background-image: none
}

.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
    background-color: #d9534f;
    border-color: #d43f3a
}

.btn-danger .badge {
    color: #d9534f;
    background-color: #fff
}

.btn-link {
    color: #008E59;
    font-weight: normal;
    cursor: pointer;
    border-radius: 0
}

.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    border-color: transparent
}

.btn-link:hover, .btn-link:focus {
    color: #004229;
    text-decoration: underline;
    background-color: transparent
}

.btn-link[disabled]:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus {
    color: #777;
    text-decoration: none
}

.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 3px
}

.btn-sm, .btn-group-sm > .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px
}

.btn-block {
    display: block;
    width: 100%
}

.btn-block + .btn-block {
    margin-top: 5px
}

input[type="submit"].btn-block, input[type="reset"].btn-block, input[type="button"].btn-block {
    width: 100%
}

.btn {
    outline: none
}

.btn-default {
    border-color: #f7f7f7;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: -webkit-linear-gradient(top, #fff 0%, #fafafa 100%);
    background-image: -o-linear-gradient(top, #fff 0%, #fafafa 100%);
    background-image: linear-gradient(to bottom, #fff 0%, #fafafa 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFFAFAFA', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    border-color: #ccc;
    color: #666
}

.btn-default:hover, .btn-default:focus {
    border-color: #ebebeb;
    background-color: #f2f2f2
}

.btn-default:active, .btn-default.active {
    background-color: #f2f2f2;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-default.disabled:hover, .btn-default.disabled:active, .btn-default[disabled]:hover, .btn-default[disabled]:active {
    border-color: #fff;
    background-color: #fff
}

.btn-default:hover {
    border-color: #aaa
}

.btn-primary {
    border-color: #008b57;
    background-color: #009a61;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: -webkit-linear-gradient(top, #009a61 0%, #00905b 100%);
    background-image: -o-linear-gradient(top, #009a61 0%, #00905b 100%);
    background-image: linear-gradient(to bottom, #009a61 0%, #00905b 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF009A61', endColorstr='#FF00905B', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-primary:hover, .btn-primary:focus {
    border-color: #007147;
    background-color: #008151
}

.btn-primary:active, .btn-primary.active {
    background-color: #008151;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-primary.disabled:hover, .btn-primary.disabled:active, .btn-primary[disabled]:hover, .btn-primary[disabled]:active {
    border-color: #009f64;
    background-color: #009f64
}

.btn-success {
    border-color: #51b351;
    background-color: #5cb85c;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: -webkit-linear-gradient(top, #5cb85c 0%, #55b555 100%);
    background-image: -o-linear-gradient(top, #5cb85c 0%, #55b555 100%);
    background-image: linear-gradient(to bottom, #5cb85c 0%, #55b555 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5CB85C', endColorstr='#FF55B555', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-success:hover, .btn-success:focus {
    border-color: #47a447;
    background-color: #4cae4c
}

.btn-success:active, .btn-success.active {
    background-color: #4cae4c;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-success.disabled:hover, .btn-success.disabled:active, .btn-success[disabled]:hover, .btn-success[disabled]:active {
    border-color: #60ba60;
    background-color: #60ba60
}

.btn-info {
    border-color: #4ebbdb;
    background-color: #5bc0de;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: -webkit-linear-gradient(top, #5bc0de 0%, #53bddc 100%);
    background-image: -o-linear-gradient(top, #5bc0de 0%, #53bddc 100%);
    background-image: linear-gradient(to bottom, #5bc0de 0%, #53bddc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5BC0DE', endColorstr='#FF53BDDC', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-info:hover, .btn-info:focus {
    border-color: #39b3d7;
    background-color: #46b8da
}

.btn-info:active, .btn-info.active {
    background-color: #46b8da;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-info.disabled:hover, .btn-info.disabled:active, .btn-info[disabled]:hover, .btn-info[disabled]:active {
    border-color: #5fc2df;
    background-color: #5fc2df
}

.btn-warning {
    border-color: #efa640;
    background-color: #f0ad4e;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: -webkit-linear-gradient(top, #f0ad4e 0%, #efa945 100%);
    background-image: -o-linear-gradient(top, #f0ad4e 0%, #efa945 100%);
    background-image: linear-gradient(to bottom, #f0ad4e 0%, #efa945 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF0AD4E', endColorstr='#FFEFA945', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-warning:hover, .btn-warning:focus {
    border-color: #ed9c28;
    background-color: #eea236
}

.btn-warning:active, .btn-warning.active {
    background-color: #eea236;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-warning.disabled:hover, .btn-warning.disabled:active, .btn-warning[disabled]:hover, .btn-warning[disabled]:active {
    border-color: #f0af53;
    background-color: #f0af53
}

.btn-danger {
    border-color: #d64742;
    background-color: #d9534f;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: -webkit-linear-gradient(top, #d9534f 0%, #d74b47 100%);
    background-image: -o-linear-gradient(top, #d9534f 0%, #d74b47 100%);
    background-image: linear-gradient(to bottom, #d9534f 0%, #d74b47 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD9534F', endColorstr='#FFD74B47', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}

.btn-danger:hover, .btn-danger:focus {
    border-color: #d2322d;
    background-color: #d43f3a
}

.btn-danger:active, .btn-danger.active {
    background-color: #d43f3a;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
}

.btn-danger.disabled:hover, .btn-danger.disabled:active, .btn-danger[disabled]:hover, .btn-danger[disabled]:active {
    border-color: #da5753;
    background-color: #da5753
}

.nav-tabs-zen > li > a {
    margin-right: -1px;
    padding: 7px 15px;
    border: 1px solid #ddd;
    min-width: 100px;
    background-color: #f6f6f6;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    border-radius: 0
}

.nav-tabs-zen > li > a:hover {
    border-color: #ddd;
    background-color: #f3f3f3
}

.nav-tabs-zen > li.active > a {
    color: #333
}

.nav-tabs-zen > li > a {
    margin-right: -1px;
    padding: 7px 15px;
    border: 1px solid #ddd;
    min-width: 100px;
    background-color: #f6f6f6;
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    border-radius: 0
}

.nav-tabs-zen > li > a:hover {
    border-color: #ddd;
    background-color: #f3f3f3
}

.nav-tabs-zen > li.active > a {
    color: #333
}

body.have-notify {
    margin-top: 38px
}

body.modal-open .topframe {
    right: 15px
}

.topframe {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: 0;
    left: 0;
    top: 0;
    z-index: 1000
}

.topframe.alert-warning {
    border-bottom: 1px solid #faebcc
}

.topframe.alert-danger {
    border-bottom: 1px solid #ebccd1
}

.topframe#fuckicp {
    z-index: initial
}

/*首页开始*/

#searchBox, .twitter-typeahead .tt-hint {
    width: 300px;
    height: 34px;
}

.search-hint {

}

.search-hint-subject {
    font-weight: bold;
    font-size: 16px;
}

.search-hint-tags {
    font-size: 12px;
    padding: 5px 0;
    overflow: hidden;
}

.stream-list {
    margin-bottom: 10px
}

.stream-list.top-indent {
    margin-top: -10px
}

.stream-list__item {
    margin: 0;
    border-bottom: 1px solid #eee;
    padding: 10px 0
}

.stream-list__item .author {
    margin-bottom: 5px;
    color: #999;
    font-size: 13px
}

.stream-list__item .author a {
    color: #999
}

.stream-list__item .author small {
    color: #ddd
}

.stream-list__item .title {
    display: inline;
    margin: 0 5px 0 0;
    font-size: 16px
}

.stream-list__item .title a {
    color: #333
}

.stream-list__item .title a:hover {
    color: #017e66
}

.stream-list__item .title a:visited {
    font-weight: 400
}

.stream-list__item .small-title {
    margin: 0 0 5px;
    font-size: 16px
}

.stream-list__item .split:before {
    content: "·";
    color: #ddd
}

.stream-list__item .summary {
    overflow: auto;
    overflow-x: hidden
}

.stream-list__item .excerpt {
    margin: 5px 0 0;
    height: 42px;
    color: #777;
    font-size: 13px;
    line-height: 1.6;
    overflow: hidden
}

.bookmark-rank, .qa-rank {
    margin-right: 5px;
    font-size: 16px;
    color: #666
}

.bookmark-rank small, .qa-rank small {
    display: block;
    font-size: 12px
}

.bookmark-rank .answers, .bookmark-rank .views, .bookmark-rank .votes, .qa-rank .answers, .qa-rank .views, .qa-rank .votes {
    display: inline-block;
    padding-top: 3px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px
}

.bookmark-rank .answers, .qa-rank .answers {
    background-color: #AD3A37;
    color: #fff
}

.bookmark-rank .answered, .qa-rank .answered {
    background-color: #009a61;
    color: #fff
}

.bookmark-rank .solved, .qa-rank .solved {
    background-color: #808B87
}

.bookmark-rank .views, .qa-rank .views {
    width: 50px;
    color: #999
}

.bookmark-rank .plus, .qa-rank .plus {
    color: #009a61
}

.bookmark-rank .minus, .qa-rank .minus {
    color: #AD3A37
}

.bookmark-rank {
    margin-right: 10px
}

.bookmark-rank .favs, .bookmark-rank .followers {
    display: inline-block;
    padding-top: 3px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background: #F0F5F3;
    color: #017E66
}

.bookmark-rank .followers {
    background: #5cb85c;
    color: #fff
}

.qa-rank, .bookmark-rank {
    float: left;
    margin-right: 5px;
    font-size: 16px;
    text-align: center;
    line-height: 1.2;
    color: #666
}

.qa-rank small, .bookmark-rank small {
    display: block;
    font-size: 12px
}

.qa-rank .votes, .bookmark-rank .votes, .qa-rank .answers, .bookmark-rank .answers, .qa-rank .views, .bookmark-rank .views {
    display: inline-block;
    padding-top: 3px;
    width: 40px;
    height: 40px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px
}

.qa-rank .answers, .bookmark-rank .answers {
    background-color: #AD3A37;
    color: #fff
}

.qa-rank .answered, .bookmark-rank .answered {
    background-color: #009a61;
    color: #fff
}

.qa-rank .solved, .bookmark-rank .solved {
    background-color: #808B87
}

.qa-rank .views, .bookmark-rank .views {
    width: 50px;
    color: #999
}

.qa-rank .plus, .bookmark-rank .plus {
    color: #009a61
}

.qa-rank .minus, .bookmark-rank .minus {
    color: #AD3A37
}

.tag {
    display: inline-block;
    padding: 0 8px;
    color: #017e66;
    background-color: #E7F2ED;
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    font-size: 13px;
    text-align: center
}

.tag[href]:hover, .tag[href]:focus {
    background-color: #017e66;
    color: #fff;
    text-decoration: none
}

.tag-sm {
    padding: 0 4px;
    height: 18px;
    line-height: 18px;
    font-size: 12px
}

.tag-lg {
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 28px
}

.tag-link {
    background-color: transparent
}

.tag-img {
    padding-left: 26px;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px
}

.taglist--inline, .taglist--block {
    list-style: none;
    padding: 0;
    font-size: 0
}

.taglist--inline li, .taglist--block li {
    padding: 0;
    font-size: 13px
}

.ib.taglist--inline, .ib.taglist--block {
    margin: 0;
    display: inline-block
}

.taglist--inline > li {
    display: inline-block;
    margin-right: 5px
}

.taglist--inline > li:last-child {
    margin-right: 0
}

.taglist--inline.multi > li {
    margin-bottom: 5px
}

.taglist--block > li {
    margin-bottom: 8px
}

.widget-tags {
    font-size: 0
}

.nav-tabs {
    border-bottom: 1px solid #ddd
}

.nav-tabs > li {
    float: left;
    margin-bottom: -1px
}

.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0
}

.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default
}

.nav-pills > li {
    float: left
}

.nav-pills > li > a {
    border-radius: 3px
}

.nav-pills > li + li {
    margin-left: 2px
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #008E59
}

.nav-stacked > li {
    float: none
}

.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0
}

.nav-justified, .nav-tabs.nav-justified {
    width: 100%
}

.nav-justified > li, .nav-tabs.nav-justified > li {
    float: none
}

.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px
}

.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto
}

.global-nav {
    position: relative;
    background: #222E2A
}

.global-nav .logo {
    float: left;
    margin: 0;
    display: inline-block
}

.global-nav .logo a {
    text-decoration: none;
    float: left
}

.global-nav .logo a.sf {
    display: block;
    height: 54px;
    width: 161px;
    background: url(../img/logo-w.svg) left center no-repeat;
    -moz-background-size: 161px auto;
    -o-background-size: 161px auto;
    -webkit-background-size: 161px auto;
    background-size: 161px auto;
    white-space: nowrap;
    overflow: hidden
}

.global-nav .logo a.logo-sub-text {
    font-size: 20px;
    color: #B3D3C7;
    line-height: 52px;
    padding-left: 10px
}

.global-nav .nav {
    height: 54px;
    padding: 0 15px
}

.global-nav .menu {
    margin: 12px 0 0 10px
}

.global-nav .opts {
    margin: 12px 0 0
}

.global-nav .opts .user .user-avatar {
    margin-left: 10px;
    width: 30px;
    vertical-align: bottom;
    background-size: contain
}

.global-nav .menu__item, .global-nav .opts__item {
    position: relative;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    line-height: 30px;
    color: #A4BFB4
}

.global-nav .menu__item .avatar, .global-nav .opts__item .avatar {
    vertical-align: text-top;
    height: 20px;
    border-radius: 2px
}

.global-nav .menu__item > a, .global-nav .opts__item > a {
    display: inline-block;
    padding: 0 9px;
    height: 30px;
    color: #A4BFB4;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}

.global-nav .menu__item > a:link, .global-nav .opts__item > a:link {
    background: 0 0
}

.global-nav .menu__item > a:active, .global-nav .menu__item > a:focus, .global-nav .menu__item > a:hover, .global-nav .opts__item > a:active, .global-nav .opts__item > a:focus, .global-nav .opts__item > a:hover {
    background-color: #3F4F49
}

.global-nav .menu__item > a.em, .global-nav .opts__item > a.em {
    background-color: #009a61;
    color: #fff
}

.global-nav ul ul.dropdown-menu {
    min-width: 120px
}

.global-nav ul ul.dropdown-menu a {
    padding: 3px 15px
}

.global-nav li a {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none
}

.global-nav .opts .caret {
    margin: -4px 0 0 5px
}

.global-nav .opts .dropdown-menu a {
    font-weight: 400
}

#global-nav .count-num, #global-nav .has-unread__count {
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 0 4px;
    background-color: #ED1C24;
    width: 10px;
    height: 10px;
    line-height: 10px;
    font-size: 0px;
    font-weight: 400;
    text-align: center;
    color: #ED1C24;
    border-radius: 14px
}

#global-nav .count-num, #global-nav .has-unread .count-num,#global-nav .has-unread .has-unread__count {
    display: block
}

#global-nav .count,#global-nav .has-unread, .header-search {
    position: relative
}

#global-nav .has-unread .glyphicon-envelope {
    line-height: 30px
}

#global-nav .message, .global-nav .search {
    width: 36px;
    height: 30px
}

#global-nav .search .dropdown-menu {
    padding: 15px
}

#global-nav .search .dropdown-menu input {
    width: 300px
}

.header-search {
    margin: 10px 0 0 20px;
    width: 180px
}

.header-search .btn {
    position: absolute;
    top: 0;
    left: 0;
    color: #7D938A
}

.header-search .form-control {
    padding-left: 35px;
    border-color: transparent;
    height: 34px;
    background: #3F4F49;
    color: #fff
}

.header-search .form-control:focus {
    background: #52605B
}

.header-search .form-control, .header-search .form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.header-search input:-moz-placeholder {
    color: #859E94
}

.header-search input::-moz-placeholder {
    color: #859E94
}

.header-search input:-ms-input-placeholder {
    color: #859E94
}

.header-search input::-webkit-input-placeholder {
    color: #859E94
}

.widget-welcome {
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #666;
    -moz-box-shadow: 3px 3px 0 rgba(0, 0, 0, .05);
    -webkit-box-shadow: 3px 3px 0 rgba(0, 0, 0, .05);
    box-shadow: 3px 3px 0 rgba(0, 0, 0, .05)
}

.widget-welcome .title {
    margin: 0 0 10px;
    color: #D0021B
}

.widget-welcome ul {
    margin: 15px 0 0
}

.widget-welcome li {
    margin-top: 6px
}

.widget-register {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    margin-bottom: 0 !important;
    border-top: 1px solid #dee2de;
    background-color: #ecf6ed !important
}

.widget-register .container {
    position: relative
}

.widget-register .title {
    color: #009a61 !important
}

.widget-register p {
    color: #999
}

.widget-register .close {
    position: absolute;
    right: 10px
}

@-webkit-keyframes widget-register-slideUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes widget-register-slideUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
    100% {
        -webkit-transform: none;
        transform: none
    }
}

.widget-register-slideUp {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: widget-register-slideUp;
    animation-name: widget-register-slideUp
}

@-webkit-keyframes widget-register-slideDown {
    from {
        -webkit-transform: none;
        transform: none
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

@keyframes widget-register-slideDown {
    from {
        -webkit-transform: none;
        transform: none
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

.widget-register-slideDown {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: widget-register-slideDown;
    animation-name: widget-register-slideDown
}

#footer, #footer a {
    color: #888
}

#footer {
    border-top: 1px solid #EEE;
    padding: 40px 0;
    line-height: 1.6;
    vertical-align: top
}

#footer .site-link {
    margin: 0 0 40px
}

#footer .site-link dt {
    margin-bottom: 20px;
    color: #333
}

#footer .site-link dd {
    margin: 5px 0;
    font-size: 13px
}

#footer .copyright {
    text-align: center;
    font-size: 13px
}

/*首页结束*/

/*问题显示页面开始*/

.widget-comments {
    list-style: none;
    margin: 10px 0;
    font-size: 13px;
    color: #666;
    padding: 10px;
    background-color: #F6F6F6;
    border-radius: 2px
}

.widget-comments .widget-comments__item {
    margin-bottom: 10px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAEUlEQVQIHWO4e/fufxBmgAIAWVEHLYEgi9EAAAAASUVORK5CYII=) repeat-x bottom;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    transition-duration: 1s
}

.widget-comments .widget-comments__item .editTextarea {
    resize: none;
    min-height: 56px
}

.widget-comments .widget-comments__form textarea {
    min-height: 56px !important;
    resize: none
}

.widget-comments .votes {
    position: relative;
    text-align: center;
    float: left;
    margin: 5px 10px 0 0;
    width: 20px;
    height: 30px;
    line-height: 40px;
    font-size: 12px;
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

.widget-comments .votes:hover {
    background-color: transparent
}

.widget-comments .votes button, .widget-comments .votes a {
    position: absolute;
    left: 0;
    top: 0;
    outline: none;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent url(../img/vote-bg@2x.png) -120px 0 no-repeat;
    -moz-background-size: auto 54px;
    -o-background-size: auto 54px;
    -webkit-background-size: auto 54px;
    background-size: auto 54px
}

.widget-comments .votes .like:hover {
    background-position: -140px 0
}

.widget-comments .votes .like.active {
    background-position: -160px 0
}

.widget-comments .comment-content {
    overflow: auto
}

.widget-comments .comment-meta {
    color: #999
}

.widget-comments .comment-warning {
    background-color: #fcf8e3
}

.widget-comments .col-sm-10 {
    padding-right: 0
}

.widget-comments .fmt {
    font-size: 13px
}

.widget-comments .fmt h1, .widget-comments .fmt h2, .widget-comments .fmt h3, .widget-comments .fmt h4, .widget-comments .fmt p, .widget-comments .fmt ul, .widget-comments .fmt ol, .widget-comments .fmt pre, .widget-comments .fmt blockquote, .widget-comments .fmt table {
    margin: 10px 0
}

.widget-comments .fmt > h1:first-child, .widget-comments .fmt h2:first-child, .widget-comments .fmt h3:first-child, .widget-comments .fmt h4:first-child, .widget-comments .fmt p:first-child, .widget-comments .fmt ul:first-child, .widget-comments .fmt ol:first-child, .widget-comments .fmt pre:first-child, .widget-comments .fmt blockquote:first-child, .widget-comments .fmt table:first-child {
    margin-top: 0
}

.post-title {
    padding-bottom: 15px;
    border-bottom: 2px solid #ccc
}

.post-topheader {
    margin-top: -10px;
}

.post-topheader .breadcrumb {
    margin: 0 0 10px;
    padding: 0;
    background-color: transparent
}

.post-topheader .title {
    font-size: 28px;
    font-weight: bold;
    margin: 5px 0;
}

.post-topheader .title a, .post-topheader .title a:hover, .post-topheader .title a:active {
    color: #333;
    text-decoration: none
}

.post-topheader .author {
    margin-top: 10px;
    color: #999;
}

.post-topheader .widget-action--ver {
    margin-top: 10px
}

.qa-question .wmd {
    min-height: 210px
}

.qa-question .wmd .wmd-input {
    min-height: 210px
}

.main-title {
    /*margin: 30px 0 25px;*/
    font-size: 18px;
    vertical-align: middle
}

.qa-question .widget-comments {
    margin-top: 10px
}

.edit-btn {
    color: #999
}

.post-col {
    float: left;
    width: 36px;
    position: relative
}

.post-col .unlike-alert {
    position: absolute;
    z-index: 100;
    top: 60px
}

.post-col .unlike-alert .close {
    right: auto
}

.widget-question__item .unlike-alert {
    width: 390px
}

.widget-answers__item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd
}

.widget-answers__item .post-offset {
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease
}

.widget-answers__item .highlight {
    background: #FFF9EB
}

.widget-answers__item .unlike-alert {
    width: 380px
}

.widget-invite {
    background-color: #f6f6f6;
    border: 1px dashed #CCC;
    padding: 15px;
    padding-bottom: 5px;
    overflow: hidden
}

.widget-invite-list {
    border-top: 1px dashed #CCC;
    padding-top: 15px
}

.widget-invite-list img {
    margin-right: 10px
}

.widget-vote {
    position: relative;
    width: 36px;
    height: 54px;
    line-height: 54px;
    font-size: 18px;
    background: #f3f3f3;
    color: #666;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}

.widget-vote:hover {
    background-color: #fff7e2
}

.widget-vote button, .widget-vote a {
    position: absolute;
    left: 0;
    padding: 0;
    border: none;
    outline: none;
    width: 100%;
    background: transparent url(../img/vote-bg@2x.png) 0 0 no-repeat;
    -moz-background-size: auto 54px;
    -o-background-size: auto 54px;
    -webkit-background-size: auto 54px;
    background-size: auto 54px
}

.widget-vote .like {
    top: 0;
    height: 36px
}

.widget-vote .like:hover {
    background-position: -36px 0
}

.widget-vote .like.active {
    background-position: -72px 0
}

.widget-vote .hate {
    bottom: 0;
    height: 18px;
    background-position: 0 bottom
}

.widget-vote .hate:hover {
    background-position: -36px bottom
}

.widget-vote .hate.active {
    background-position: -72px bottom
}

.widget-box {
    margin: 25px 0;
    padding-top: 25px;
    border-top: 1px solid #eee
}

.widget-box .widget-box__title {
    margin: 0 0 20px;
    font-size: 16px
}

.widget-box.no-border, .widget-box:first-child {
    margin-top: 0;
    padding-top: 0;
    border: none
}

.widget-top10 {
    padding-left: 30px
}

.widget-top10 li {
    margin-bottom: 8px
}

.widget-top10 img {
    margin-right: 10px
}

.post-offset {
    margin-left: 50px
}

.post-offset .avatar-24 {
    float: right
}

.post-opt {
    font-size: 13px;
    color: #999;
}

.post-opt a {
    color: #999
}

.qa-question .editor {
    min-height: 88px
}

.qa-question .editor .form-control {
    border: none
}

.qa-question .editor .editor__menu--live {
    display: none
}

.qa-question .editor .editor-line {
    display: none
}

.qa-question .editor_fullscreen .editor-line {
    display: block
}

.ignored {
    display: none
}

.qa-answer .ignored {
    display: block
}

#answerNotify {
    padding: 12px
}

h1 .dropdown {
    font-size: 14px;
    font-weight: normal
}

#answer .question-view .panel-body {
    max-height: 360px;
    overflow-y: scroll
}

.accepted-flag {
    position: relative;
    margin: 10px 0 0;
    background-color: #009a61;
    width: 100%;
    height: 25px;
    line-height: 35px;
    font-size: 13px;
    text-align: center;
    color: #FFF;
    z-index: 1;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px 0 0
}

.accepted-flag:after {
    position: absolute;
    left: 0;
    top: 25px;
    content: '';
    border-width: 9px 18px;
    border-style: solid;
    border-color: #009a61 #009a61 transparent #009a61
}

.media, .media-body {
    overflow: hidden;
    zoom: 1
}

.media, .media .media {
    margin-top: 15px
}

.media:first-child {
    margin-top: 0
}

.media-object {
    display: block
}

.media-heading {
    margin: 0 0 5px
}

.media > .pull-left {
    margin-right: 10px
}

.media > .pull-right {
    margin-left: 10px
}

.media-list {
    padding-left: 0;
    list-style: none
}

.sitelist > thead > tr > th {
    border-bottom: 1px solid #ddd
}

.sitelist > tbody > tr > td {
    border-bottom: 1px solid #eee;
    vertical-align: middle
}

.sitelist .site-name, .sitelist .site-mod, .sitelist .site-latest {
    padding: 15px 10px
}

.sitelist .site-name {
    padding-left: 0;
    width: 50%
}

.sitelist .site-mod {
    width: 20%
}

.sitelist .site-latest {
    padding-right: 0;
    width: 30%
}

.sitelist .site-latest a {
    display: block;
    max-width: 290px
}

.sitelist .site-latest small {
    color: #999;
    font-size: 13px
}

.sitelist .site-name > .pull-left {
    margin-right: 15px
}

.sitelist .media-heading {
    font-size: 16px
}

.sitelist .media-body p {
    margin: 0
}

.site-topheader {
    padding: 25px 0;
    background: #f3f3f3
}

.site-topheader .breadcrumb {
    margin: 0 0 10px;
    padding: 0;
    background-color: transparent
}

.site-topheader .media > .pull-left {
    margin-right: 20px
}

.site-topheader .media-object {
    border: 4px solid #fff;
    width: 80px;
    height: 80px;
    background-color: #fff
}

.site-topheader .media-heading {
    margin-bottom: 10px
}

.site-topheader .media-heading a, .site-topheader .media-heading a:hover, .site-topheader .media-heading a:active {
    color: #333;
    text-decoration: none
}

.site-topheader .description {
    position: relative;
    color: #666
}

.site-topheader .description p:last-child, .site-topheader .description ul:last-child, .site-topheader .description ol:last-child {
    margin-bottom: 0
}

.site-topheader .description .list-inline li {
    padding-right: 0
}

.site-topheader .description .list-inline li:after {
    margin-left: 5px;
    content: " •";
    color: #ccc
}

.site-topheader .description .list-inline li:last-child:after {
    content: none
}

.site-blog-widget {
    padding: 12px;
    background: #f6f6f6;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.site-blog-widget .title {
    margin-top: 0;
    font-size: 16px;
    color: #D0021B
}

.site-blog-widget ul {
    margin: 0
}

.site-blog-widget li {
    margin-top: 10px
}

.site-blog-widget small {
    display: block;
    color: #999;
    font-size: 13px
}

.revision-item {
    display: none
}

.revision-item.active {
    display: block
}

.revision-content {
    margin: 10px;
    padding: 30px;
    border: 1px solid #ddd;
    background-color: #fff
}

.revision-content .title {
    margin: 0 0 25px;
    padding: 10px;
    background: #f3f3f3
}

/*问题显示页面结束*/

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6)
}

.form-control::-moz-placeholder {
    color: #777;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #777
}

.form-control::-webkit-input-placeholder {
    color: #777
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1
}

textarea.form-control {
    height: auto
}

input[type="search"] {
    -webkit-appearance: none
}

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
    line-height: 35px;
    line-height: 1.5 \0
}

input[type="date"].input-sm, .form-horizontal .form-group-sm input[type="date"].form-control, .input-group-sm > input[type="date"].form-control, .input-group-sm > input[type="date"].input-group-addon, .input-group-sm > .input-group-btn > input[type="date"].btn, input[type="time"].input-sm, .form-horizontal .form-group-sm input[type="time"].form-control, .input-group-sm > input[type="time"].form-control, .input-group-sm > input[type="time"].input-group-addon, .input-group-sm > .input-group-btn > input[type="time"].btn, input[type="datetime-local"].input-sm, .form-horizontal .form-group-sm input[type="datetime-local"].form-control, .input-group-sm > input[type="datetime-local"].form-control, .input-group-sm > input[type="datetime-local"].input-group-addon, .input-group-sm > .input-group-btn > input[type="datetime-local"].btn, input[type="month"].input-sm, .form-horizontal .form-group-sm input[type="month"].form-control, .input-group-sm > input[type="month"].form-control, .input-group-sm > input[type="month"].input-group-addon, .input-group-sm > .input-group-btn > input[type="month"].btn {
    line-height: 30px
}

input[type="date"].input-lg, .form-horizontal .form-group-lg input[type="date"].form-control, .input-group-lg > input[type="date"].form-control, .input-group-lg > input[type="date"].input-group-addon, .input-group-lg > .input-group-btn > input[type="date"].btn, input[type="time"].input-lg, .form-horizontal .form-group-lg input[type="time"].form-control, .input-group-lg > input[type="time"].form-control, .input-group-lg > input[type="time"].input-group-addon, .input-group-lg > .input-group-btn > input[type="time"].btn, input[type="datetime-local"].input-lg, .form-horizontal .form-group-lg input[type="datetime-local"].form-control, .input-group-lg > input[type="datetime-local"].form-control, .input-group-lg > input[type="datetime-local"].input-group-addon, .input-group-lg > .input-group-btn > input[type="datetime-local"].btn, input[type="month"].input-lg, .form-horizontal .form-group-lg input[type="month"].form-control, .input-group-lg > input[type="month"].form-control, .input-group-lg > input[type="month"].input-group-addon, .input-group-lg > .input-group-btn > input[type="month"].btn {
    line-height: 46px
}

.form-group {
    margin-bottom: 15px
}

/*顶部菜单开始*/

#global-nav {
    background: #1B805E
}

#global-nav .logo {
    float: left;
    margin: 0;
    display: inline-block
}

#global-nav .logo a {
    text-decoration: none;
    float: left
}

#global-nav .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

/*顶部菜单结束*/

.textarea-comment {
    display: block;
    width: 100%;
    height: 80px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/*通知页面开始*/

.notify-stream .time {
    margin: 20px 0 0;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    font-size: 16px
}

.notify-stream .time + section {
    border: none
}

.notify-stream .stream-list__item {
    position: relative;
    padding: 8px 15px 8px 25px;
    color: #666;
    border: none;
    border-top: 1px dotted #eee;
    background: #FFF9EA
}

.notify-stream .stream-list__item a {
    font-weight: bold
}

.notify-stream .stream-list__item:before {
    position: absolute;
    left: 10px;
    top: 15px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #F5A623;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%
}

.notify-stream .stream-list__item.viewed {
    background: transparent
}

.notify-stream .stream-list__item.viewed a {
    font-weight: normal
}

.notify-stream .stream-list__item.viewed:before {
    visibility: hidden
}

/*通知页面结束*/

/*bootstrap-notify自定义样式开始*/
.alert-success {
    background-color: rgb(241, 242, 240);
    border-color: rgba(149, 149, 149, 0.3);
    border-radius: 3px;
    color: rgb(149, 149, 149);
    padding: 10px;
}

.alert-success > [data-notify="icon"] {
    height: 50px;
    margin-right: 12px;
}

.alert-success > [data-notify="title"] {
    color: rgb(51, 51, 51);
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.alert-success > [data-notify="message"] {
    font-size: 80%;
}

/*bootstrap-notify自定义样式结束*/

/*用户样式开始*/

.widget-messages {
    margin-bottom: 15px
}

.widget-messages__item {
    display: block;
    color: #666;
    margin-left: -10px;
    padding: 6px 10px;
    width: 100%;
    text-decoration: none
}

.widget-messages__item .badge {
    margin-left: 5px;
    padding: 2px 6px;
    font-weight: 400
}

.widget-messages__item.active, .widget-messages__item:hover {
    text-decoration: none;
    color: #008E59;
    background-color: #F6F6F6
}

.widget-messages__item.active .badge, .widget-messages__item:hover .badge {
    background-color: #008E59
}

/*用户样式结束*/

.nowrap {
    word-break: keep-all;
}